<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reset password mail</title>
  </head>
  <body>
    <p>Hello {{name}}</p>
   <p> Please copy link bellow for reset your password.</p>
   <a href="http://abc.domain.com/reset-password?token={{token}}">http://abc.domain.com/reset-password?token={{token}}</a>
  </body>
</html>